[submodule "Back-End"]
	path = Back-End
	url = https://github.com/SamirJabre/Back-End.git
[submodule "React-Native-User"]
	path = React-Native-User
	url = https://github.com/SamirJabre/React-Native-User.git
[submodule "React-Native-Driver"]
	path = React-Native-Driver
	url = https://github.com/SamirJabre/React-Native-Driver.git
[submodule "Front-End-Admin"]
	path = Front-End-Admin
	url = https://github.com/SamirJabre/Front-End-Admin.git
